{% extends "base.html" %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="../static/css/article.css" >
{% endblock%}
{% load pagination_tags %}
{% block title %}那烛火未明 摇曳满地的冷清{% endblock %}
{% block content %}
    <article>
        <div class="head_section">
            <div class="link">
                <a href="../">
                    <span id="home_page">首页</span>
                </a>
                <span id="gt">&gt;</span>
                <span>文字</span>
            </div>
            <div class="title_block">
                <h1>文字</h1>
                <p>小清新文字、治愈系文字、唯美的文字、散文随笔，我们都是文字控</p>
            </div>
        </div>
        </div>    
        <div class="content_section"> 
            {% autopaginate article_list 8 %}
                {% for item in article_list %}
        	        <div class="section_content"> 
        	        	<div class="article_img">
                            <a href="{% url 'blog' id=item.id %}">
            	        		{% load staticfiles %}
            	        		<img title="{{ item.title }}" src="{% static item.img %}">
        	        	</div> 
        	        	<div class="section_char"> 
        	        		<h3 class="title">{{ item.title }}</h3>
        	        		<span class="article_content">{{ item.author.username }} - {{ item.createTime|date:"Y / m / d" }}</span>
        	    		</div>
            	    </div> 
    	        {% endfor %}
            {% paginate %}
        </div>
	</article>
	<script type="text/javascript" src="../static/javascript/article.js"></script>
{% endblock %}