<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block extracss %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" >
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<div class="head">
			<div class="logo">
				<a href="/">
					<img src="/static/img/logo.png">
				</a>
			</div>
			<nav id="navigation ">
				<ul>
					<li><a class="current_page nav" href="/">主页</a></li>
					<li><a class="nav" href="{% url 'shuoshuo' %}">说说</a></li>
					<li><a class="nav" href="{% url 'article' %}">文字</a></li>
					<li><a class="nav" href="javascript:;">歌声</a></li>
					<li><a class="nav" href="javascript:;">趣味</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="content">
			{% block content %}
			{% endblock %}
		<aside>
			<div class="side">
				<div class="block_side">
					<div class="subtitle">
						<span>关注微信</span>
					</div>
					<div class="wechat aside">
					</div>
				</div>
				<div class="block_side">
					<div class="subtitle">
						<span>标签</span>
					</div>
					<div class="lable aside">
					</div>
				</div>
				<div class="block_side">
					<div class="subtitle">
						<span>热度排行榜</span>
					</div>
					<div class="hot aside">
					</div>
				</div>
				<div class="block_side">
					<div class="subtitle">
						<span>最近评论</span>
					</div>
					<div class="comment aside">
					</div>
				</div>
			</div>
		</aside>
	</section>
	<footer></footer>

</body>
</html>