{% extends "base.html" %}
{% load staticfiles %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" >
{% endblock%}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
	<article>
        <div class="head_section">
            <div class="navigation">
                <a href="/">
                    <span id="home_page">首页</span>
                </a>
                    <span id="gt">&gt;</span>
                <a href="../">
                    <span id="shuoshuo">文字</span>
                </a>
            </div>
            <span class="tag">{{ article.tag }}</span>
        </div>
        <dir class="content_section">
        	<div class="head_content">
        		<h1>{{ article.title }}</h1>
        		<span>作者：{{ article.author.username }}&nbsp; -  &nbsp;{{ article.createTime|date:" Y / m / d " }}</span>
        	</div>
        	<div class="content_img">
        		<img src="{% static article.img %}">
        	</div>
        	<p class="article">{{ article.article }}</p>
        </dir>
        <div class="ds-share" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-images="{% static article.img %}" data-content="{{   article.article }}" data-url="{% url 'blog' id=article.id %}">
            <div class="ds-share-inline">
              <ul  class="ds-share-icons-16">
                
                <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
                <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
                <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
                <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
                <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                
              </ul>
              <div class="ds-share-icons-more">
              </div>
            </div>
        </div>
        <div class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-url="{% url 'blog' id=article.id %}"></div>    
    </article>
    <script type="text/javascript" src="{% static 'duoshuo/duoshuo.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/blog.js' %}"></script>
{% endblock %}