{% extends "base.html" %}
{% load staticfiles %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" >
{% endblock%}
{% block extrajavascript %}
    <script type="text/javascript" src="{% static 'duoshuo/duoshuo.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/blog.js' %}"></script>
{% endblock %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
	<article>
        <div class="head_section">
            <div class="navigation">
                <a href="/">
                    <span id="home_page">首页</span>
                </a>
                    <span id="gt">&gt;</span>
                <a href="../">
                    <span id="shuoshuo">文字</span>
                </a>
            </div>
            <span class="tag">{{ article.tag }}</span>
        </div>
        <dir class="content_section">
        	<div class="head_content">
        		<h1>{{ article.title }}</h1>
        		<span>作者：{{ article.author.username }}&nbsp; -  &nbsp;{{ article.createTime|date:" Y / m / d " }}</span>
        	</div>
        	<div class="content_img">
        		<img src="{% static article.img %}">
        	</div>
        	<p class="article">{{ article.article }}</p>
        </dir>
        <div class="ds-zan" id="zan" name= "{{ article.id }}">
            <a class="zan new">
                <i class="fa fa-thumbs-up fa-lg"></i>
                <span id="init">赞</span>
            </a>
        </div>
        <div class="ds-share" data-thread-key="blog-{{ article.id }}" data-title="{{ article.title }}" data-images="{{ domain }}{{ article.img }}" data-content="{{  article.article }}" data-url="{{ current_url }}">
            <div class="ds-share-inline">
                <ul  class="ds-share-icons-16">
                    <li>
                        <a class="ds-weibo new weibo" href="javascript:void(0);" data-service="weibo">
                            <i class="fa fa-weibo fa-lg"></i>
                            分享到新浪微博
                        </a>
                    </li>
                    <li>
                        <a class="ds-wechat wechat new" href="javascript:void(0);" data-service="wechat">
                            <i class="fa fa-wechat fa-lg"></i>
                            分享到微信
                        </a>
                    </li>
                    <li data-toggle="ds-share-icons-more">
                        <a class="ds-more new" href="javascript:;">
                            <i class="fa fa-share-alt fa-lg"></i>
                            更多
                        </a>
                    </li>
                </ul>
                <div class="ds-share-icons-more">
                </div>
            </div>
        </div>
        <div class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-url="{{ current_url }}"></div>
    </article>
{% endblock %}