{% extends "base.html" %}
{% load staticfiles %}
{% load custom_markdown %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/coding.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'highlight/styles/solarized-light.css' %}">
{% endblock%}
{% block title %}{{ code_article.title }}{% endblock %}
{% block content %}
	<article>
        <div class="head_section">
            <div class="navigation">
                <a href="/">
                    <span id="home_page">首页</span>
                </a>
                    <span id="gt">&gt;</span>
                <a href="../">
                    <span id="code">编程</span>
                </a>
            </div>
            <span class="tag">{{ code_article.tag }}</span>
        </div>
        <dir class="content_section">
        	<div class="head_content">
        		<h1>{{ code_article.title }}</h1>
        		<span>作者：{{ code_article.author.username }}&nbsp; -  &nbsp;{{ code_article.createTime|date:" Y / m / d " }}</span>
        	</div>
            <div class="body_content">
        	   <p class="article">{{ code_article.article|custom_markdown }}</p>
            </div>
        </dir>
        <div class="ds-thread" data-thread-key="{{ code_article.id }}" data-title="{{ code_article.title }}" data-url="{% url 'coding' id=code_article.id %}"></div>    
	</article>
    <script type="text/javascript" src="{% static 'duoshuo/duoshuo.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/coding.js' %}"></script>
    <script type="text/javascript" src="{% static 'highlight/highlight.pack.js' %}"></script> 
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
