{% extends "base.html" %}
{% load staticfiles %}
{% load custom_markdown %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/coding.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'highlight/styles/solarized-light.css' %}">
{% endblock%}
{% block extrajavascript %}
    <script type="text/javascript" src="{% static 'duoshuo/duoshuo.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/coding.js' %}"></script>
    <script type="text/javascript" src="{% static 'highlight/highlight.pack.js' %}"></script> 
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block title %}{{ code_article.title }}{% endblock %}
{% block content %}
	<article>
        <div class="head_section">
            <div class="navigation">
                <a href="/">
                    <span id="home_page">首页</span>
                </a>
                    <span id="gt">&gt;</span>
                <a href="../">
                    <span id="code">编程</span>
                </a>
            </div>
            <span class="tag">{{ code_article.tag }}</span>
        </div>
        <dir class="content_section">
        	<div class="head_content">
        		<h1>{{ code_article.title }}</h1>
        		<span>作者：{{ code_article.author.username }}&nbsp; -  &nbsp;{{ code_article.createTime|date:" Y / m / d " }}</span>
        	</div>
            <div class="body_content">
        	   <p class="article">{{ code_article.article|custom_markdown }}</p>
            </div>
        </dir>
        <div class="ds-zan">
            <a class="zan new " href="javascript:;">
                <i class="fa fa-thumbs-up fa-lg"></i>
                    赞
            </a>
        </div>
        <div class="ds-share" data-thread-key="code_article-{{ code_article.id }}" data-title="{{ code_article.title }}" data-images=""  data-content="{{  code_article.article }}" data-url="{{ current_url }}">

            <div class="ds-share-inline">
              <ul  class="ds-share-icons-16">
                <li>
                    <a class="ds-weibo new weibo" href="javascript:void(0);" data-service="weibo">
                        <i class="fa fa-weibo fa-lg"></i>
                        分享到新浪微博
                    </a>
                </li>
                <li>
                    <a class="ds-wechat wechat new" href="javascript:void(0);" data-service="wechat">
                        <i class="fa fa-wechat fa-lg"></i>
                        分享到微信
                    </a>
                </li>
                <li data-toggle="ds-share-icons-more">
                    <a class="ds-more new" href="javascript:;">
                        <i class="fa fa-share-alt fa-lg"></i>
                        更多
                    </a>
                </li>
                </ul>
                <div class="ds-share-icons-more">
                </div>
            </div>
        </div>        
        <div class="ds-thread" data-thread-key="{{ code_article.id }}" data-title="{{ code_article.title }}" data-url="{{ current_url }}"></div>    
	</article>
{% endblock %}
