{% extends "base.html" %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="/static/css/homepage.css" >
{% endblock%}
{% block title %}那烛火未明 摇曳满地的冷清{% endblock %}
{% block content %}
	<dir class="img_zone ">
		<div class="title">
			<span id="one"> 一言</span>
			<span id="change">换</span>
			<span id="saying">「风筝的线你随时可以放开，只是别盼望我会回来。」</span>
		</div>
		<dir class="img">
			<div class="img_link" id="first_img">
				<img src="/static/img/img1.jpg">
			</div>
			<div class="img_link">
				<img src="/static/img/img2.jpg">
			</div>
			<div class="img_link">
				<img src="/static/img/img3.jpg">
			</div>
		</dir>
	</dir>
	<article class="main">
		<div class="block">
			<div class="subtitle">
				<span>说说</span>
			</div>
			<div class="talk">
				{% for item in feel_list %}
					<img src="/static/img/person_logo.jpg">
					<a href="{% url 'Letter' id=item.id %}" class="talk_about">
						{{ item.feeling }}
					</a>
					<a href="javascript:;" class="favorite">
						<i class="fa fa-thumbs-up fa-1x"></i>
						赞
						<span class="count">{{ item.like_times }}</span>
					</a>
				{% endfor %}
			</div>
			<div class="paging">
				<a class="opacity" id="previous" href="javascript:;" name="{{ length }}">&lt;</a>
				<a id="next" href="javascript:;" name= "1" >&gt;</a>
			</div>
		</div>
		<div class="block character">
			<div class="subtitle">
				<span>文字</span>
			</div>
			{% for item in article_list %}
				<div class="content_block">
					<div class="char_img">
						<a title="{{ item.title }}" href="{% url 'blog' id=item.id %}">
							{% load staticfiles %}
							<img src="{% static item.img %}">
						</a>	
					</div>
					<dir class="character_content">
						<h3><a href="{% url 'blog' id=item.id %}" title="{{ item.title }}">{{ item.title }}</a></h3>
						<span class="auther_date">{{ item.author.username }} &nbsp; - &nbsp; {{ item.createTime|date:"Y / m / d" }}</span>
						<div class="body">{{ item.article }}</div>
						<dir class="char_lable"><a href="javascript:;">{{ item.tag }}</a></dir>
					</dir>
				</div>
			{% endfor %}
		</div>
	</article>
	<script type="text/javascript" src="/static/javascript/homepage.js"></script>
	<script src="//cdn.bootcss.com/jQuery.dotdotdot/1.7.4/jquery.dotdotdot.min.js"></script>
{% endblock %}