{% extends "base.html" %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/static/css/Letter.css" >
{% endblock%}
{% block title %}Letter.{{ feel.id }}{% endblock %}
{% block content %}
    <article>
        <div class="head_section">
            <div class="navigation">
                <a href="/">
                    <span id="home_page">首页</span>
                </a>
                    <span id="gt">&gt;</span>
                <a href="../">
                    <span id="shuoshuo">说说</span>
                </a>
            </div>    
            <span class="tag">零碎的小情绪</span>
        </div>
        <div class="content_section">
            <div class="block">
                <div class="content_block">
                    <h1 class="title">Letter.{{ feel.id }}</h1>
                    <span class="date">作者：{{ feel.person.username }} &nbsp; - &nbsp; {{ feel.createTime|date:"Y / m / d" }}</span>
                    <span class="content_text">{{ feel.feeling }}</span>
                </div>
            </div>
            <div class="img"> 
                {% load staticfiles %}
                <img id="img" src="{% static feel.img %}">
            </div>
        </div>    
    </article>
<script type="text/javascript" src="/static/javascript/Letter.js"></script>
{% endblock %}