{% extends "base.html" %}
{% load staticfiles %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/Letter.css' %}" >
{% endblock%}
{% block extrajavascript %}
    <script type="text/javascript" src="{% static 'duoshuo/duoshuo.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/Letter.js' %}"></script>
{% endblock %}
{% block title %}Letter.{{ feel.id }}{% endblock %}
{% block content %}
    <article>
        <div class="head_section">
            <div class="navigation">
                <a href="/">
                    <span id="home_page">首页</span>
                </a>
                    <span id="gt">&gt;</span>
                <a href="../">
                    <span id="shuoshuo">说说</span>
                </a>
            </div>
            <span class="tag">零碎的小情绪</span>
        </div>
        <div class="content_section">
            <div class="block">
                <div class="content_block">
                    <h1 class="title" id="title">Letter.{{ feel.id }}</h1>
                    <span class="date">作者：{{ feel.person.username }} &nbsp; - &nbsp; {{ feel.createTime|date:"Y / m / d" }}</span>
                    <span class="content_text">{{ feel.feeling }}</span>
                </div>
            </div>
            <div class="img">
                <img id="img" src="{% static feel.img %}">
            </div>
        </div>
        <div class="ds-zan" id="zan">
            <a class="zan new " href="javascript:;">
                <i class="fa fa-thumbs-up fa-lg"></i>
                <span id="init">赞</span>
            </a>
        </div>
        <div class="ds-share" data-thread-key="Letter-{{ feel.id }}" data-title="{{ feel.feeling }}" data-images="{{ domain }}{{ feel.img }}" data-content="{{  feel.feeling }}" data-url="{{ current_url }}">
            <div class="ds-share-inline">
                <ul  class="ds-share-icons-16">
                    <li>
                        <a class="ds-weibo new weibo" href="javascript:void(0);" data-service="weibo">
                            <i class="fa fa-weibo fa-lg"></i>
                            分享到新浪微博
                        </a>
                    </li>
                    <li>
                        <a class="ds-wechat wechat new" href="javascript:void(0);" data-service="wechat">
                            <i class="fa fa-wechat fa-lg"></i>
                            分享到微信
                        </a>
                    </li>
                    <li data-toggle="ds-share-icons-more">
                        <a class="ds-more new" href="javascript:;">
                            <i class="fa fa-share-alt fa-lg"></i>
                            更多
                        </a>
                    </li>
                </ul>
                <div class="ds-share-icons-more">
                </div>
            </div>
        </div>        
        <div class="ds-thread" data-thread-key="{{ feel.id }}" data-title="{{ feel.feeling }}" data-url="{{ current_url }}"></div>
    </article>
{% endblock %}