{% extends "base.html" %}
{% block extracss %} <link rel="stylesheet" type="text/css" href="../static/css/shuoshuo.css">{% endblock%}
{% load pagination_tags %}
{% block title %}那烛火未明 摇曳满地的冷清{% endblock %}
{% block content %}
    <article>
        <div class="head_section">
            <div class="link">
                <a href="../">
                    <span id="home_page">首页</span>
                </a>
                <span id="gt">&gt;</span>
                <span>说说</span>
             </div>
            <div class="title_block">
                <h1>说说</h1>
                <p>小清新文字、治愈系文字、唯美的文字、散文随笔，我们都是文字控</p>
            </div>
        </div>    
        <div class="content_section"> 
            {% autopaginate feels_list 5 %}
                {% for item in feels_list %}
                    <div class="block">
                        <div class="img">
                            <a href="{% url 'Letter' id=item.id %}">
                                {% load staticfiles %}
                                <img src="{% static item.img %}">
                            </a>
                        </div>
                        <div class="content_block">
                            <h3 class="title"><a href="{% url 'Letter' id=item.id %}">Letter.{{ item.id }}</a></h3>
                            <span class="date">{{ item.person.username }} &nbsp - &nbsp {{ item.createTime|date:"Y/m/d" }}</span>
                            <span class="shuoshuo_content">{{ item.feeling }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% paginate %}
        </div>    
    </article>
    <script type="text/javascript" src="../static/javascript/shuoshuo.js"></script>  
{% endblock %}