<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"> 
	<title>开心小窝</title>
	<style type="text/css">
		.content {
			font-size: 18px;
			color: #4EBE65;
		}
	</style>
</head>
<body>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
	<p class="content">富士康的小伙伴们,哥想你们啦！！！</p>
</body>
</html>