@charset: utf-8;

.block_side {
	margin-top: 70px;
}

.article {
	width: 720px;
	margin-top: 20px;
	float: left;
}

.head_section {
	margin-bottom: 25px;
}

.link span {
	color: rgb(195,195,195);
	font-size: 14px;
	margin-right: 10px;
}

#home_page:hover {
	color: #707070;
}

#gt {
	font-size: 10px;
}

.title_block {
	margin: 10px 0 0 5px;
}

.title_block h1 {
	font-size: 30px;
	font-weight: 400;
	color: #030303;
	margin-bottom: 15px;
}

.title_block p {
	font-style: italic;
	color: #777;
	line-height: 26px;
	font-size: 16px;
}

.content_section {
	margin-top: 45px;
}

.section_content {
	display: inline-block;
	width: 323px;
	height: 228px;
	margin: 0px 34px 15px 0;
}

.article_img img {
	width: 324px;
	height: 160px;
	cursor: pointer;
}

.title {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	color: #111;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.article_content {
	margin: 0;
	display: inline-block;
	color: #aaa;
	margin: 10px 0;
	font-size: 12px;
	display: block;
}


/*分页样式*/
.pagination {
	font-family: 'Open Sans', arial, sans-serif;
	min-width: 33px
}

.prev,.next{
	border: 1px solid #e3e3e3;
	margin: 0 8px 8px 0;
	padding: 9px 12px 7px ;
	text-align: center;
	color: #666;
	height: 21px;
	line-height: 21px;
	font-size: 12px;
}

.page {
	border: 1px solid #e3e3e3;
	padding: 10px 12px 7px;
	border: 1px solid #e3e3e3;
	margin: 0 8px 8px 0;
	text-align: center;
	font-size: 12px;
}

.pagination a:link,:visited {
	color: #434242;
}

.pagination a:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

.current {
	background-color: #4db2ec;
	color: #fff;
}

.disabled {
	display: none;
}




