@charset:utf-8;

* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 15px;
}

.header {
	width: 100%;
	height: 106px;
	border-bottom: 1px solid #EFEDED;
}

.head {
	margin: 0px auto;
	width: 1050px;
}

.logo_section {
	float: left;
}

.logo {
	padding-top: 10px;
	width: 272px;
	height: 90px;
}

nav ul {
	position: relative;
	height: 48px;
	float: right;
	top: 59px;
}

nav ul li {
	display: block;
	height: 45px;
	float: left;
	line-height: 48px;
}

nav ul li a {
	width: 38px;
	font-size: 17px;
	display: inline-block;
	color: #030303;
	padding: 0 10px;
}

nav ul li a:hover {
	border-bottom: 1px solid #4db2ec;
	color: #4db2ec;
}

section {
	width: 1050px;
	clear: both;
	margin: 0px auto;
}

aside {
	float: right;
	width: 280px;
	margin-top: 40px;
}

/*top 导航栏 滚动后的css样式*/

.logo_scroll {
	width: 126px;
}

.head_scroll {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #EFEDED;	
	position: fixed;
	background-color: #EAEAEA;
	top: 0px;
}

.block_side {
	margin-bottom: 40px; 
}

.aside {
	margin-top:30px;
	height: 150px;
	border: 1px solid #D1D1D1;
}

.current_page {
	color: #4db2ec;
	border-bottom: 1px solid #4db2ec;
}

.subtitle {
	height: 25px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
}

.subtitle span{
	letter-spacing:2px;
	height: 15px;
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
	color: #5E6D81;
	display: inline-block;
	border-bottom: 1px solid #4db2ec;
	font-family: 'Microsoft Yahei', Arial, 'Roboto', sans-serif;
	line-height: 15px;
}

/*返回顶部*/

.back_to_top {
	position: fixed;
	bottom: 180px;
	right: 300px;
	display: none;
}

.back_to_top .to_top {
	display: block;
	width: 58px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 40px;
	color: #EBEBEB;
	background-color: rgba(0,0,0,.2);
	border: 1px solid #E8E8E8;
}

.back_to_top .to_top:hover {
	background-color: #4db2ec;
	color: white;
}