@charset:utf-8;

.article {
	margin-top: 20px;
	float: left;
	width: 720px;
}

.block_side {
	margin-top: 70px;
}

.head_section {
	margin-bottom: 20px;
}

.navigation span {
	color: rgb(195,195,195);
	font-size: 14px;
	margin-right: 10px;
}

#shuoshuo:hover,#home_page:hover {
	color: #585858;
}

.tag {
	margin-top: 15px;
	display: inline-block;
	padding: 7px 11px;
	background: #222222;
	color: white;
	font-size: 12px;
	line-height: 10px;
	border-radius: 4px;
}

.head_content h1 {
	color: #040404;
	font-weight: 600;
	font-size: 30px;
}

.head_content span {
	color: #aaa;
	margin: 10px 0;
	font-size: 13px;
	display: block;
}

.content_img {
	margin: 20px 0;
}

.content_img img {
	display: block;
	margin: 0 auto;
	max-width: 720px;
	_width:720px;
	cursor: pointer;
}

.content_section {
	margin-bottom: 40px;
}

.content_section p {
	margin: 10px 0;
	display: inline-block;
	color: #525252;
	font-size: 13px;
	line-height: 40px;
	text-indent:2em;
}

.shade {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: -1;
	cursor: pointer;
    -webkit-transition:all ease-in-out .7s;
    -moz-transition:all ease-in-out .7s;
    -o-transition:all ease-in-out .7s;
    transition:all ease-in-out .7s;
}

.shade > .backdrop {
	z-index: 100;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
}

.shade > .preview {
	position: absolute;
	z-index: 100;
}


/*分享样式*/
.ds-share {
	width: 100%;
	height: 32px;
	padding-bottom: 20px;
	margin-bottom: 40px !important;
	border-bottom: 1px solid #F0F0F0;
}

.ds-zan {
	position: relative;
	left: 0;
	top: 38px;
	display: inline-block;
}

#init {
	font-size: 13px;
}

.ds-share-icons-16 {
	float: right !important;
}

.new {
	display: inline-block;
	background-image: none !important;
	border-radius: 20px;
	padding: 0px 16px !important;
    line-height: 32px !important;
    height: 32px! important;
    font-size: 13px!important;
}

.ds-weibo {
	color: #E14D4C !important;
}

.ds-wechat {
	color: #40B440 !important;
}

.zan {
	color: #E14D4C;
}

.ds-more {
	color: #4DB2EC !important;
}

.zan:hover {
	background-color: #E77170 !important;
	color: white !important;
}

.weibo:hover {
	background-color: #E77170 !important;
	color: white !important;
}

.wechat:hover {
	background-color: #66C366 !important;
	color: white !important;
}

.ds-more:hover {
	background-color: #4DB2EC !important;
	color: white !important;
}

#ds-share #ds-reset .ds-share-icons-more {
	left: 638px !important;
	top: -395px !important;
}

.ds-share-icons-footer {
	background-color: white !important;
}
