@charset :utf-8;

article {
	margin-top: 20px;
	float: left;
	width: 720px;
	margin-bottom: 200px;
}

.block_side {
	margin-top: 70px;
}

.head_section {
	margin-bottom: 20px;
}

.navigation span {
	color: rgb(195,195,195);
	font-size: 14px;
	margin-right: 10px;
}

#code:hover,#home_page:hover {
	color: #585858;
}

.tag {
	margin-top: 15px;
	display: inline-block;
	padding: 7px 11px;
	background: #222222;
	color: white;
	font-size: 12px;
	line-height: 10px;
	border-radius: 4px;
}

.head_content h1 {
	color: #040404;
	font-weight: 600;
	font-size: 30px;
}

.head_content span {
	color: #aaa;
	margin: 10px 0;
	font-size: 13px;
	display: block;
}
.body_content p {
    margin:25px 0;
    line-height: 1.6;
    color: #909090;
    font-size: 14px;
}

.body_content h1 {
	font-size: 30px;
	font-weight: 400;
	color: #585858;
	padding: 20px 0;
	border-bottom: 1px solid #E4E4E4;
}

pre code {
	font-family: Source Code Pro,Consolas,Menlo,Monaco,Courier New,monospace;
	font-size: 1em;
	overflow-wrap: normal;
    white-space: inherit;
    line-height: 1.3;
    margin:15px 0;
    letter-spacing :0.5px;
}

/*多说样式设置*/
.ds-share {
	width: 100%;
	height: 32px;
	padding-bottom: 20px;
	margin-bottom: 40px !important;
	border-bottom: 1px solid #F0F0F0;
}

.ds-zan {
	position: relative;
	left: 0;
	top: 38px;
	display: inline-block;
}


.ds-share-icons-16 {
	float: right !important;
}

.new {
	display: inline-block;
	background-image: none !important;
	border-radius: 20px;
	padding: 0px 16px !important;
    line-height: 32px !important;
    height: 32px! important;
    font-size: 13px!important;
}

.ds-weibo {
	color: #E14D4C !important;
}

.ds-wechat {
	color: #40B440 !important;
}

.zan {
	color: #E14D4C;
}

.ds-more {
	color: #4DB2EC !important;
}

.zan:hover {
	background-color: #E77170 !important;
	color: white !important;
}

.weibo:hover {
	background-color: #E77170 !important;
	color: white !important;
}

.wechat:hover {
	background-color: #66C366 !important;
	color: white !important;
}

.ds-more:hover {
	background-color: #4DB2EC !important;
	color: white !important;
}

#ds-share #ds-reset .ds-share-icons-more {
	left: 638px !important;
	top: -250px !important;
}

.ds-share-icons-footer {
	background-color: white !important;
}

