@charset:utf-8;

.img_zone {
	margin: 20px auto 0px;
}

.title {
	clear: both;
	width: 1050px;
	height: 40px;
	margin: 20px auto;
	line-height: 40px;
}

#one {
	display: inline-block;
	background-color: #222;
	color: #fff;
	height: 22px;
	width: 48px;
	line-height: 22px;
	text-align: center;
	padding: 3px;
	margin-right: 10px;
	border-radius: 4px;
}

#change {
	height: 22px;
	border: 1px solid #4db2ec;
	color: #4db2ec;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 15px;
	border-radius: 4px;
}

#change:hover {
	background-color: #4db2ec;
	color: #fff;
}

.img {
	width: 1050px;
	height: 220px;
	margin: 10px auto 0;
}

.img_link {
	float: left;
	width: 345px;
	height: 220px;
	margin-left: 5px;
	overflow: hidden;
}

#first_img {
	margin-left: 0;
}

.img img {
	width: 343px;
	height: 218px;
	border: 1px solid #BEBCBC;
	cursor: pointer;
    -webkit-transition:all ease-in-out .9s;
    -moz-transition:all ease-in-out .9s;
    -o-transition:all ease-in-out .9s;
    transition:all ease-in-out .9s;
}

.img img:hover {
	width: 385px;
	height: 260px;
	border: none;
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.content {
	width: 1050px;
	clear: both;
	margin: 0px auto;
}

.main {
	float: left;
	width: 720px;
}

.block {
	margin: 40px auto 40px;
}

.subtitle {
	height: 25px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
}

.talk {
	margin-top: 10px;
}

.talk img {
	padding-right: 10px;
}
.talk_about {
	display: inline-block;
	min-width: 580px;
	position: relative;
	bottom: 15px;
	color: #222;
	font-size: 13px;
	word-spacing:8px;
	letter-spacing: 1px;
	overflow:hidden;
	white-space:nowrap;
	width:50%;
	text-overflow:ellipsis;
}

.talk_about:hover {
	color: #4db2ec;
}

.favorite {
	display: inline-block;
	position: relative;
	bottom: 15px;
	left: 20px;
	color: #222;
	font-size: 13px;
	word-spacing:8px;
}

.favorite i {
	font-size: 18px !important;
}

.favorite:hover {
	color: #E14D4C;
}

.paging {
	margin-top: 10px;
}

.paging a{
	display: inline-block;
	font-size: 25px;
	width: 22px;
	height: 22px;
	border: 1px solid #B3B2B2;
	line-height: 20px;
	text-align: center;
	color: #B3B3B3;
	padding: 2px;
}

.paging a:hover {
	background-color: #4DB2EC;
	color: white;
}

.opacity {
	opacity: 0.3;
	border: 1px solid #D6D6D6;
}

.wechat {
	height: 150px;
	border: 1px solid #D1D1D1;
}

.aside {
	margin-top:30px;
}

.content_block {
	width: 696px;
	height: 150px;
	position: relative;
	margin-bottom: 40px;
}

.char_img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.char_img img {
	width: 218px;
	height: 150px;
}

.character_content {
	margin-left: 244px;
	height: 150px;
	width: 452px;
}

.character_content h3 a {
	font-size: 18px;
	font-weight: 600;
	font-family: 'Microsoft Yahei', Arial, 'Roboto', sans-serif;
	color: #111;
}

.character_content h3 a:hover {
	color: #4db2ec;
}

.auther_date {
	color: #ccc;
	margin: 10px 0;
	font-size: 12px;
	display: block;
}

.body {
	color: #6E6D6D;
	font-size: 13px;
	line-height: 17px;
}

.char_lable a {
	position: absolute;
	top: 121px;
	display: inline-block;
	padding: 7px 11px;
	background: #969696;
	color: white;
	font-size: 12px;
	line-height: 10px;
	border-radius: 4px;
}

.char_lable a:hover {
	background-color: #484848;
}


