@charset:utf-8;

article {
	margin-top: 20px; 
	float: left;
	width: 720px;
}

.block_side {
	margin-top: 70px;
}

.head_section {
	margin-bottom: 20px;
}

.navigation span {
	color: rgb(195,195,195);
	font-size: 14px;
	margin-right: 10px;
}

#shuoshuo:hover,#home_page:hover {
	color: #585858;
}

.tag {
	margin-top: 15px;
	display: inline-block;
	padding: 7px 11px;
	background: #222222;
	color: white;
	font-size: 12px;
	line-height: 10px;
	border-radius: 4px;
}

.content_section {
	margin-bottom: 20px; 
}

.content_block h1 {
	color: #040404;
	font-family: 'Microsoft Yahei', Arial, 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

.date {
	color: #aaa;
	margin: 10px 0;
	font-size: 13px;
	display: block;
}

.content_text {
	margin: 10px 0;
	display: inline-block;
	color: #525252;
	font-size: 13px;
	line-height: 24px;
}

.img {
	width: 702px;
}

#img {
	display: block;
	margin: 0px auto;
}

