@charset:utf-8;

.article {
	margin-top: 20px;
	float: left;
	width: 720px;
}

.block_side {
	margin-top: 70px;
}

.link span {
	color: rgb(195,195,195);
	font-size: 14px;
	margin-right: 8px;
}

#home_page:hover {
	color: #707070;
}

#gt {
	font-size: 10px;
}

.head_section {
	margin-bottom: 25px;
}

.title_block {
	margin: 10px 0 0 5px;
}

.title_block h1 {
	font-size: 30px;
	font-weight: 400;
	color: #030303;
	margin-bottom: 15px;
}

.title_block p {
	font-style: italic;
	color: #777;
	line-height: 26px;
	font-size: 16px;
}

.content_section {
	position: absolute;
	margin-top: 25px;
}

.block {
	position: relative;
	margin-bottom: 40px;
}

.img {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.img img {
	width: 218px;
	height: 150px;
	margin-bottom: 13px;
	margin-right: 26px;
}

.content_block {
	margin-top: 10px;
	margin-left: 244px;
	display: inline-block;
	width: 452px;
	height: 150px;
}

.content_block a {
	color: #040404;
	font-family: 'Microsoft Yahei', Arial, 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding-top: 2px;
}

.title a:hover {
	color: #4db2ec;
}

.date {
	color: #ccc;
	margin: 10px 0;
	font-size: 12px;
	display: block;
}

.shuoshuo_content {
	color: #6E6D6D;
	font-size: 13px;
	line-height: 17px;
}

.pagination {
	margin-bottom: 400px;
	font-family: 'Open Sans', arial, sans-serif;
	min-width: 33px
}

.prev,.next{
	border: 1px solid #e3e3e3;
	margin: 0 8px 8px 0;
	padding: 9px 12px 7px ;
	text-align: center;
	color: #666;
	height: 21px;
	line-height: 21px;
	font-size: 12px;
}

.page {
	border: 1px solid #e3e3e3;
	padding: 10px 12px 7px;
	border: 1px solid #e3e3e3;
	margin: 0 8px 8px 0;
	text-align: center;
	font-size: 12px;
}

.pagination a:link,:visited {
	color: #434242;
}

.pagination a:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

.current {
	background-color: #4db2ec;
	color: #fff;
}

.disabled {
	display: none;
}