<div ng-controller="slideCtrl">
	<div id="slide-banner" move>
		<ul>
			<li class="card" ng-class="state.li1?state.moveClass:''">
				<a href="##">
					<img src="/static/wechat/image/slide1.jpg" alt="">
				</a>
			</li>
			<li class="card" ng-class="state.li2?state.moveClass:''">
				<a href="##">
					<img src="/static/wechat/image/slide2.jpg" alt="">
				</a>
			</li>
			<li class="card" ng-class="state.li3?state.moveClass:''">
				<a href="##">
					<img src="/static/wechat/image/slide3.jpg" alt="">
				</a>
			</li>
			<li class="card" ng-class="state.li4?state.moveClass:''">
				<a href="##">
					<img src="/static/wechat/image/slide4.jpg" alt="">
				</a>
			</li>
			<li class="card" ng-class="state.li5?state.moveClass:''">
				<a href="##">
					<img src="/static/wechat/image/slide5.jpg" alt="">
				</a>
			</li>
		</ul>
		<div id="banner">
			<ul>
				<li ng-class="state.li1?'active':''"></li>
				<li ng-class="state.li2?'active':''"></li>
				<li ng-class="state.li3?'active':''"></li>
				<li ng-class="state.li4?'active':''"></li>
				<li ng-class="state.li5?'active':''"></li>
			</ul>
		</div>
	</div>
</div>
<section id="content">
	<div class="day-content" ng-controller="changeSay">
		<span class="change">一言</span>
		<span class="say">{{ content }}</span>
	</div>
	<div class="section" ng-controller="revShuo">
		<div class="subtitle">
			<span>说说</span>
		</div>
		<div class="shuoshuo" ng-repeat="item in list_content">
			<img src="/static/wechat/image/person_logo.jpg">
			<span>{{ item }}</span>
		</div>
	</div>
	<div class="section" ng-controller="revArticle">
		<div class="subtitle">
			<span>文字</span>
		</div>
		<article ng-repeat="content in list_content">
			<div class="article-img" >
				<img ng-src="{{ content.img }}">
			</div>
			<div class="article-content">
				<div class="content-head">
					<h2>{{ content.title }}</h2>
					<span>{{ content.user }} - {{ content.time | date : 'yyyy - MM - dd'}}</span>
				</div>
				<div class="content-body">
					<p>{{ content.article | len:40 }}</p>
				</div>
				<div class="tag">
					<span>{{ content.tag }}</span>
				</div>
			</div>
		</article>
	</div>
	<div class="section" ng-controller="revCode">
		<div class="subtitle">
			<span>编程</span>
		</div>
		<article ng-repeat="content in list_content">
			<div class="code-content">
				<div class="content-head">
					<h2>{{ content.title }}</h2>
					<span>{{ content.user }} - {{ content.time | date : 'yyyy - MM - dd'}}</span>
				</div>
				<div class="content-body code-body">
					<p>{{ content.article | len:110 }}</p>
				</div>
				<div class="tag">
					<span>{{ content.tag }}</span>
				</div>
			</div>
		</article>
	</div>
</section>
