@charset: utf-8;

html {
	font-size: 57px;
	/*overflow: hidden; */
}

body,ul,li,p {
	margin: 0rem;
	padding: 0rem;
}

ul,ol {
	list-style: none;
}

body {
	background-color: #eff0f0; 
	/*margin-bottom: 1rem;*/
	/*overflow: hidden;*/
}

/*媒体查询*/
@media screen and (min-width: 320px) {
    html {
    	font-size: 32px;
    }
}
 
@media screen and (min-width: 360px) {
    html {
    	font-size: 36px;
    }
}

@media screen and (min-width: 375px) {
    html {
    	font-size: 37.5px;
    }
}
 
@media screen and (min-width: 414px) {
    html {
    	font-size: 41.4px;
    }
}

@media screen and (min-width: 435px) {
    html {
    	font-size: 43.5px;
    }
}
 
@media screen and (min-width: 440px) {
    html {
    	font-size: 44px;
    }
}
 
@media screen and (min-width: 480px) {
    html {
    	font-size: 48px;
    }
}


/*阿里图标字体*/
@font-face {
	font-family: 'iconfont';
	src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
		 url('../iconfont/iconfont.woff') format('woff'), 
		 url('../iconfont/iconfont.ttf') format('truetype'), 
		 url('../iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size: 0.6rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*导航栏*/
#footer {
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: 0.32rem;
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid #F8F8F8;
	width: 100%;
	color: #808080;
	background-color: #FFF;
}

#footer > a {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	padding: 4px 0px;
	display: block;
}

/*首页轮播图*/
#slide-banner {
	position: relative;
	overflow: hidden;
	width: 10rem;
	height: 3.5rem;
	margin: 0rem auto;
	z-index: 10;
}

#slide-banner > ul {
	position: absolute;
	width: 50rem;
	height: 100%;
	left: 10rem;
	z-index: 10;
}

.card {
	position: absolute;
	width: 10rem;
	height: 100%;
	float: left;
	z-index: 10;
}

.card img {
	width: 10rem;
	height: 3.5rem;
}

.move-add , .move-remove {
    -webkit-transition:all ease-in-out 1.5s;
    -moz-transition:all ease-in-out 1.5s;
    -o-transition:all ease-in-out 1.5s;
    transition:all ease-in-out 1.5s;	
}

.move,
.move-add-active {
    -webkit-transform: translate3d(-10rem,0,0);
    -moz-transform: translate3d(-10rem,0,0);
    -o-transform: translate3d(-10rem,0,0);
    transform: translate3d(-10rem,0,0);
}

.move-remove-active {
    -webkit-transform: translate3d(-20rem,0,0);
    -moz-transform: translate3d(-20rem,0,0);
    -o-transform: translate3d(-20rem,0,0);
    transform: translate3d(-20rem,0,0);
}

#slide-banner #banner {
	position: absolute;
	right: 0.2rem;
	bottom: 0.2rem;
	z-index: 100;
}

#banner > ul > li {
	float: left;
	width: 0.20rem;
	height: 0.20rem;
	border-radius: 50%;
	background-color: #CAC9EC;
	margin: 0rem 0.08rem;
}

.active {
	background-color: #FF5501 !important;
}


/*homepage style*/

#content {
	width: 10rem;
	margin: 0.2rem auto 1.5rem auto;
}

.day-content {
	padding: 0rem 0.15rem;
	font-size: 10px;
}

.day-content .change {
	display: inline-block;
	padding: 0.08rem;
	border: 1px solid #4db2ec;
	border-radius: 4px;
	color: #4db2ec;
}

.section {
	padding: 0.10rem 0.10rem;
	font-size: 10px;
}

.section > .subtitle {
	border-bottom: 1px solid #DAD8D8; 
}

.subtitle > span {
	color: #737373;
	font-size: 11px;
	display: inline-block;
	padding: 0.16rem;
	border-bottom: 1px solid #4db2ec;
} 

.shuoshuo {
	position: relative;
	margin-top: 0.2rem;
}

.shuoshuo > img {
	width: 30px;
	height: 30px;
}

.shuoshuo span {
	position: absolute;
	display: block;
	line-height: 30px;
	left: 38px;
	top: 0px;
	width: 8.5rem;
	word-spacing: 0.2rem;
	letter-spacing: 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.section > article {
	position: relative;
	margin: 0.2rem 0 0.4rem 0;
}

.article-img > img{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 3rem;
	height: 3rem;
}

.article-content {
	margin-left: 3.3rem;
	width: 6.4rem;
	height: 3rem;
	overflow: hidden;
}