@charset: utf-8;

html {
	font-size: 57px;
	overflow: hidden;
}

body,ul,li,p {
	margin: 0rem;
	padding: 0rem;
}

ul,ol {
	list-style: none;
}

body {
	background-color: #eff0f0; 
	overflow: hidden;
}

@font-face {
	font-family: 'iconfont';
	src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
		 url('../iconfont/iconfont.woff') format('woff'), 
		 url('../iconfont/iconfont.ttf') format('truetype'), 
		 url('../iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size: 25px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#footer {
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: 10px;
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid #F8F8F8;
	width: 100%;
	color: #808080;
	background-color: #FFF;
}

#footer > a {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	padding: 4px 0px;
	display: block;
}

#slide-banner {
	transition: all ease-in-out 1s;
	position: relative;
	overflow: hidden;
	width: 10rem;
	height: 3.5rem;
	margin: 0rem auto;
}

#slide-banner > ul {
	position: absolute;
	width: 50rem;
	height: 100%;
	left: 10rem;
}

.card {
	position: absolute;
	transform: translate3d(0rem,0,0);
	width: 10rem;
	height: 100%;
	float: left;
}

.card img {
	width: 10rem;
	height: 3.5rem;
}

.move-add , .move-remove {
    -webkit-transition:all ease-in-out 1.5s;
    -moz-transition:all ease-in-out 1.5s;
    -o-transition:all ease-in-out 1.5s;
    transition:all ease-in-out 1.5s;	
}

.move,
.move-add-active {
    transform: translate3d(-10rem,0,0);
    z-index: 10;
}

.move-remove-active {
	transform: translate3d(-20rem,0,0);
}

#slide-banner #banner {
	position: absolute;
	right: 0.2rem;
	bottom: 0.2rem;
	z-index: 100;
}



#banner > ul > li {
	float: left;
	width: 0.20rem;
	height: 0.20rem;
	border-radius:50%;
	background-color: #CAC9EC;
	margin: 0rem 0.08rem;
}

.active {
	background-color: #FF5501 !important;
}